.chat-container {
    color: #fff;
    padding: 20px;
    width: 50%;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  